.title-add-project {
    display: flex;
    outline-style: solid;
    color: turquoise;
}

.all-projects {
    display: flex;
    flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.newProjectTitle,
.btn-containers {
    display: flex;
}

.task-form {
    height: 10rem;
    width: 15rem;
    background-color: antiquewhite;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
};

.task-container {
    display: flex;
    flex-direction: column;
}

.todo-list {
    display: flex;
    flex-direction: column;   
}